:root {
  --white-color: #fff;
  --black-color: #000;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}
